header {
    @include display-flex;
    @include justify-content-space-between;
    @include align-items-center;
    padding: 10px 50px;
    background-color: #370157;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    font-weight: bold;
    color: white;
    z-index: 9999;
    .logo {
        @include display-flex;
        @include justify-content-center;
        @include align-items-center;
        img {
            height: 55px;
            margin-right: 10px;
        }
        p {
            font-size: 25px;
            font-family: 'creamson';
        }
    }
    .header-link{
        @include display-flex;
        @include justify-content-center;
        @include align-items-center;

        a{
            margin-left: 30px;
            border-bottom: 1px solid transparent;
            &:hover {
                border-bottom: 1px solid white;
            }
        }
        .close-btn {
            display: none;
        }
    }
    .hamburger {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    header {
        padding: 2vw 4vw;
        .logo {
            img {
                height: 12vw;
                margin-right: 2vw;
            }
            p {
                font-size: 6vw;
            }
        }
        .header-link{
            padding: 20vw 15vw;
            display: block;
            position: fixed;
            top: 0;
            height: 100vh;
            left: -100vw;
            width: 100vw;
            z-index: 99999;
            background-color: #380058d2;
            backdrop-filter: blur(10px);
            font-size: 8vw;
            @include transition-all;
            &.active {
                left: 0;
            }
    
            a{
                display: block;
                margin-left: 0;
            }
            .close-btn {
                display: block;
                position: absolute;
                top: 10vw;
                right: 10vw;
                img {
                    height: 8vw;
                }
                &:hover {
                    border-bottom: 1px solid transparent;
                }
            }
        }
        .hamburger {
            display: block;
            img {
                width: 10vw;
            }
        }
    }
}